<%= form_with(model: lottery, local: true) do |form| %>
  <% if lottery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lottery.errors.count, "error") %> prohibited this lottery from being saved:</h2>

      <ul>
      <% lottery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :lottery_number %>
    <%= form.text_field :lottery_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
