
<div class="container">

  <div class="row">

    <div class="col-md-6">
    <p>
      <%= form_for Archive.new, html: { multipart: false } do |f| %>
        <%= f.label :attachment, "Файл оруулах" %>
        <%= f.file_field :attachment %>
        <%= f.submit "Оруулах", class: "btn btn-primary" %>
      <% end %>
    </p>

    </div>  
    <div class="col-md-8">
      <% if current_user.role_id == 1 %>
        <%=
          link_to 'Файл татаж авах',
          items_path(format: :xlsx)
        %>

        <%=
          link_to 'Сугалаа засах', 
          fix_lotteries_path(),
          class: "lottery-correction-btn",
          :data => {:confirm => 'Сугалааны дугааруудыг дахин шинээр үүсгэх үү?'}
        %>
        <table id="admin-table" class="display" cellspacing="0" width="100%">
        </table>
      <% else %>
        <table id="user-table" class="display" cellspacing="0" width="100%">
        </table>
      <% end %>
      

    </div>
  </div>
</div>



